html,body{
    margin: 0;
    padding: 0;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, textarea{
    padding: 10px;
    width: 500px;
    margin: 10px 0;
    border-radius: 5px;
}

textarea{
    height: 300px;
}

button{
    padding: 10px 20px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}


/* Post Styles */

.post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

.post-title{
    margin: 0;
}
.post-author{
    margin: 5px 0;
}

.post-date{
    margin: 25px 0;
    text-transform: lowercase;
    font-style: italic;
}

.post-article{
    width: 95%;
    text-align: justify;
}

.post-buttons{
    margin: 25px 0;
}

.header-author-section{
    width: 100px;
    text-align: center;
   
}
.header-title-section{
 margin: 0 0 0 25px;
}
.author-img{
    width: 100px;
    border: solid 1px dimgray;
    border-radius: 5px;
}

.post-header{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.post-body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
